:root{
  --body_background:white;
  --body_color:white;
  --svgButton_background:#1e3851;
  --form_background:#102d44;
  --placeholder_color:#87939f;  
}

[class="hydrated light"]{
  --body_background:#102131;
  --body_color:#0d2438;
  --svgButton_background:#f7f8fc;
  --form_background:white;
  --placeholder_color:#ada9bb;
  
}

[class="light hydrated"]{
  --body_background:#102131;
  --body_color:#0d2438;
  --svgButton_background:#f7f8fc;
  --form_background:white;
  --placeholder_color:#ada9bb;
}
 
/* [data-bs-theme=dark]{
  --bs-body-bg:#0d2438;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
